<p id="notice"><%= notice %></p>

<h1>
  <%= @post.title %>
</h1>

<%- if @post.picture? %>
  <div class="post-image">
    <%= image_tag @post.picture_url %>
  </div>
<% end %>

<div>
  <%= simple_format @post.description %>
</div>

<%- if @post.author.present? %>
  <p>by <%= @post.author %></p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
